.autocomplete-w1 {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 6px 0 0 6px;
}

.autocomplete {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    text-align: left;
    max-height: 350px;
    overflow: auto;
    margin: -6px 6px 6px -6px;
}

.autocomplete .selected, .autocomplete .selected:hover {
    background: #3699ff;
    color: white;

}

.autocomplete div {
    padding: 2px 5px;
    white-space: nowrap;
}

.autocomplete strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-loading {
    background: white url('../images/ajax-loader.gif') right center no-repeat;
}
